<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:include="fragments/header::head"></th:block>

</head>

<body>

<th:block th:include="fragments/navbar::navbar"></th:block>

<main>

    <h2>Welcome</h2>
    <img src="../static/resources/images/pets.png"
         th:src="@{/resources/images/pets.png}"/>

    <img class="img-spring" src="../static/resources/images/spring-pivotal-logo.png"
         th:src="@{/resources/images/spring-pivotal-logo.png}"/>
</main>
</body>
</html>